UNKNOWN {
	FONT-FAMILY: Arial, Helvetica
}
A:link {
	COLOR: blue; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
A:visited {
	COLOR: blue; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #6d6dff; SCROLLBAR-HIGHLIGHT-COLOR: #8282ff; SCROLLBAR-SHADOW-COLOR: #5050e6; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e1e1e1; FONT-FAMILY: Arial, Helvetica; SCROLLBAR-DARKSHADOW-COLOR: black
}
